body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #edc4d7;
}
.main-box {
  background-color: #989696;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.input-box {
  padding: 50px;
  text-align: center;

}
.centered-box {
  background-color: #b7b5b5;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}